<div class="gallery__container">
  <ul class="gallery__list">
    <!-- <li class="gallery__item">
      <img
        class="gallery__img"
        src="./images/asia-businesswoman.jpg"
        alt="asia-woman"
      />
      <h3 class="gallery__header">
        8 tips for passing an online interview that will help you get a job
      </h3>
      <p class="gallery__text">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
      <div class="gallery__item-bottom_wrap">
        <span class="gallery__date">11/12/2023</span>
        <a href="#" class="gallery__link">Read more</a>
      </div>
    </li>
    <li class="gallery__item">
      <img
        class="gallery__img"
        src="./images/asia-businesswoman.jpg"
        alt="asia-woman"
      />
      <h3 class="gallery__header">
        8 tips for passing an online interview that will help you get a job
      </h3>
      <p class="gallery__text">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
      <div class="gallery__item-bottom_wrap">
        <span class="gallery__date">11/12/2023</span>
        <a href="#" class="gallery__link">Read more</a>
      </div>
    </li>
    <li class="gallery__item">
      <img
        class="gallery__img"
        src="./images/asia-businesswoman.jpg"
        alt="asia-woman"
      />
      <h3 class="gallery__header">
        8 tips for passing an online interview that will help you get a job
      </h3>
      <p class="gallery__text">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
      <div class="gallery__item-bottom_wrap">
        <span class="gallery__date">11/12/2023</span>
        <a href="#" class="gallery__link">Read more</a>
      </div>
    </li>
    <li class="gallery__item">
      <img
        class="gallery__img"
        src="./images/asia-businesswoman.jpg"
        alt="asia-woman"
      />
      <h3 class="gallery__header">
        8 tips for passing an online interview that will help you get a job
      </h3>
      <p class="gallery__text">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
      <div class="gallery__item-bottom_wrap">
        <span class="gallery__date">11/12/2023</span>
        <a href="#" class="gallery__link">Read more</a>
      </div>
    </li>
    <li class="gallery__item">
      <img
        class="gallery__img"
        src="./images/asia-businesswoman.jpg"
        alt="asia-woman"
      />
      <h3 class="gallery__header">
        8 tips for passing an online interview that will help you get a job
      </h3>
      <p class="gallery__text">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
      <div class="gallery__item-bottom_wrap">
        <span class="gallery__date">11/12/2023</span>
        <a href="#" class="gallery__link">Read more</a>
      </div>
    </li>
    <li class="gallery__item">
      <img
        class="gallery__img"
        src="./images/asia-businesswoman.jpg"
        alt="asia-woman"
      />
      <h3 class="gallery__header">
        8 tips for passing an online interview that will help you get a job
      </h3>
      <p class="gallery__text">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
      <div class="gallery__item-bottom_wrap">
        <span class="gallery__date">11/12/2023</span>
        <a href="#" class="gallery__link">Read more</a>
      </div>
    </li>
    <li class="gallery__item">
      <img
        class="gallery__img"
        src="./images/asia-businesswoman.jpg"
        alt="asia-woman"
      />
      <h3 class="gallery__header">
        8 tips for passing an online interview that will help you get a job
      </h3>
      <p class="gallery__text">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
      <div class="gallery__item-bottom_wrap">
        <span class="gallery__date">11/12/2023</span>
        <a href="#" class="gallery__link">Read more</a>
      </div>
    </li>
    <li class="gallery__item">
      <img
        class="gallery__img"
        src="./images/asia-businesswoman.jpg"
        alt="asia-woman"
      />
      <h3 class="gallery__header">
        8 tips for passing an online interview that will help you get a job
      </h3>
      <p class="gallery__text">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
      <div class="gallery__item-bottom_wrap">
        <span class="gallery__date">11/12/2023</span>
        <a href="#" class="gallery__link">Read more</a>
      </div>
    </li>
    <li class="gallery__item">
      <img
        class="gallery__img"
        src="./images/asia-businesswoman.jpg"
        alt="asia-woman"
      />
      <h3 class="gallery__header">
        8 tips for passing an online interview that will help you get a job
      </h3>
      <p class="gallery__text">
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
      <div class="gallery__item-bottom_wrap">
        <span class="gallery__date">11/12/2023</span>
        <a href="#" class="gallery__link">Read more</a>
      </div>
    </li> -->
  </ul>
</div>
