.tumbler{
    display: flex;
    align-items: center;
    position: absolute;
    left: 6px;
    bottom: 18px;
    height: 34px;
}
.tumbler__icon:not(:first-child) {
    margin-left: 10px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 10px;
  }
  
  /* Hide default HTML checkbox */
  .tumbler__checkbox {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    border: 0.604701px solid #4B48DB;
    border-radius: 20px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    left: 0.5px;
    bottom: 2px;
    background-color:#4440f6;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .tumbler__checkbox:checked + .slider {
    background-color: #4440f6;
  }
  
  .tumbler__checkbox:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .tumbler__checkbox:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    background-color:#ffffff;
    transform: translateX(22px);
  }
  .slider.round {
    border: #4440f6 1px solid;
    border-radius: 34px;
  }
  
  .slider.round:before {
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }