

.catagories__btn{
    position: relative;
    margin: 0;
    padding: 7.5 37 7.5 13;
    margin-left: 16px;
    margin-top: 24px;
    border-radius: 20px;
}

.catagories__list{
    position: absolute;
    
    left: 16px;
    width: 148px;
    background-color: black;
    padding: 14px;
    border-radius: 20px;

}




