@import '../utils/variables';
@import '../general-styles/general-classes';
@import '../components/mobile_menu';

.notfind-part {
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 59px;
    
    @media  screen and (min-width: $tablet) and (max-width: $pre_desktop) {
      /* margin-top: 48px;
       margin-bottom: 101px; */
    padding-top: 88px;
    padding-bottom: 101px;
    }
  
    @media screen and (min-width:  $desktop) {
     /* margin-top: 15px;
     margin-bottom: 60px; */
    padding-top: 121px;
    padding-bottom: 226px;
    }
}
.notfind-part-hidden {
      display: none;
    }
  
  
  .notfind-title {
    font-family: Manrope;
    font-weight: 700;
    color: var(--text-color);
    font-size: 20px;
    line-height: 27px;

   
    @media  screen and (min-width: $tablet) and (max-width: $pre_desktop) {
      font-size: 40px;
      line-height: 55px;
    } 

  @media screen and (min-width: $desktop) {
    font-size: 40px;
    line-height: 55px;
  }
  }
  
  .notfind-image {
    /* margin-top: 40px; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 248px;
    height: 198px;

     @media screen and (min-width: $tablet) and (max-width: $pre_desktop) {
      width: 560px;
      height: 444px;
    }
  
    @media screen and (min-width: $desktop) {
        width: 601px;
        height: 478px;
    } 
  }