.weather {
    background-color: #4440F7;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 37px;
    padding-bottom: 32px;
    height: 675px;
}


.weather_country {
    display: inline-block;
    margin-left: 13px;
}

.weather_wrap {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.weather_character {
    color: #fff;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
    line-height: 1.1;
    margin-bottom: 5px;
    height: 28px;
}

.weather_degree {
    color: #fff;
    display: inline;
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 1.2;
}

.weather_degree::after {
    content: "";
    width: 1px;
    border: none;
    height: 75px;
    top: 4.7px;
    right: -4%;
    background-color: #fff;
    position: absolute;
    border-radius: 4px;
}

.weather_part {
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.weather_location {
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    display: inline-block;
    height: 34px;
    width: 121px;
    background-color: rgba(254, 254, 255, 0.3);
    border-radius: 10px;
    background-image: url(/src/images/carbon_location-filled.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 5px 8px;
    padding: 3px;
}

.weather_week {
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    display: inline-block;
    height: 34px;
    width: 151px;
    background-color: rgba(254, 254, 255, 0.3);
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
}

.main {
    background-color: #fff;
    padding: 0 15px;
}

.footer {
    background-color: palevioletred;
}

.alighn {
    margin-top: 40px;
    margin-bottom: 18px;
    text-align: center;
}

.weather_image {
    width: 121px;
    height: 128px;
    margin-top: 54px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}