body {
    color: $primary-text-color;
    font-family: Roboto, sans-serif;
    font-size:14px;
    line-height: 150%;
    font-style: normal;
    font-weight: 400;
    background-color: $primary-background-color;
}



button {
    cursor: pointer;
    font-family: inherit;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

